extends layout
 
block content
 
    h1= title
   
    if (toShow == null)
        h2 No instance to view Details of the helmets.
    else
        - let helmetsid = toShow._id
        - let helmet_style = toShow.helmet_style
        - let size = toShow.size
        - let price = toShow.price
   
        div
            div.row
                div(class='helmetsAttr mr-3') helmets ID is:
                div #{helmetsid}
            div.row
                div(class='helmetsAttr mr-3') helmets style is:
                div #{helmet_style}
            div.row
                div(class='helmetsAttr mr-3') helmets size is:
                div #{size}
            div.row
                div(class='helmetsAttr mr-3') price is:
                div #{price}