extends layout

block content
    h1= title
    if (toShow == null)
        h2 No instance to delete
    else
        - let helmetsid = toShow._id
        - let helmets_style = toShow.helmet_style
        - let size = toShow.size
        - let price = toShow.price
        - let actionid = "/resource/helmets/" + helmetsid
        script.
            let actionid = "#{actionid}"
        div
            div.row
                div(class='helmetsAttr mr-3') helmets ID is:
                div #{helmetsid}
            div.row
                div(class='helmetsAttr mr-3') helmets Name is:
                div #{helmets_style}
            div.row
                div(class='helmetsAttr mr-3') helmets size is:
                div #{size}
            div.row
                div(class='helmetsAttr mr-3') helmets price is:
                div #{price}
            button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
            button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
        script.
            function cancel() {
                // Go back to the home page for the helmets collection
                window.location.href='/helmets';
            }
            function deleteOnid() {
                console.log("starting delete");
                // delete first
                fetch(actionid, {
                    method: 'DELETE' // Don't need a body for the delete
                }).then((resp) => {
                    return resp.json(); // or resp.text() or whatever the server sends
                }).then((body) => {
                    alert("Delete succeeded");
                    window.location.href='/helmets';
                    // TODO handle body
                }).catch((error) => {
                    // TODO handle error
                    alert("Delete failed " + error);
                });
            }
